// COLORS
$primary-color: #f79d00;
$secondary-color: #00cdac;

$white-color: #1a1a1a;

$dark-grey: #333333;

$dark-blue-text: #f2f2f2; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
