html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #1a1a1a;
 }

.lista {
	list-style: none;
	text-align: center;
	padding: 20px;
	display: inline-block;
	font-size: 20px;
	color: white;
}